# Python cache and compiled files
__pycache__/
*.py[cod]
*.pkl
*.joblib
*.egg-info/

# Environment folders and files
.venv/
env/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Editor/IDE settings
.vscode/
.idea/
